[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs
[submodule "sokol"]
	path = engine/sokol
	url = https://github.com/floooh/sokol
[submodule "glfw"]
	path = pc/glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = engine/imgui
	url = https://github.com/ocornut/imgui
