[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs
[submodule "sokol"]
	path = engine/sokol
	url = https://github.com/floooh/sokol
[submodule "glfw"]
	path = pc/glfw
	url = https://github.com/glfw/glfw
[submodule "imgui"]
	path = engine/imgui
	url = https://github.com/ocornut/imgui
[submodule "engine/entt"]
	path = engine/entt
	url = https://github.com/skypjack/entt
[submodule "engine/HandmadeMath"]
	path = engine/HandmadeMath
	url = https://github.com/HandmadeMath/HandmadeMath
[submodule "engine/sokol-tools-bin"]
	path = engine/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
[submodule "engine/box2d"]
	path = engine/box2d
	url = https://github.com/erincatto/box2d
[submodule "TextureAtlas"]
	path = TextureAtlas
	url = https://github.com/Ezphares/TextureAtlas
